bot_token: '<bot_token>'

tasks: {
    uwu: {
        enabled: true
    }
    scoresaber: {
        enabled: false
        channels: [<numeric_channel_id>, ...]
        database: 'scores.db'
        power_users: ['<discord#id>', ...]
        update_interval: 60.0
    }
    mtg: {
        enabled: false
        channels: [<numeric_channel_id>, ...]
        page_size: 5
    }
}
